Repository sunxiaoxia2022/openvino, changes with the owners that CODEOWNERS names for each.
All owners: @openvinotoolkit/openvino-maintainers, @openvinotoolkit/openvino-admins, @openvinotoolkit/openvino-samples-maintainers, @openvinotoolkit/openvino-scripts-maintainers, @openvinotoolkit/openvino-tests-maintainers, @openvinotoolkit/openvino-tools-maintainers, @openvinotoolkit/openvino-mo-maintainers, @openvinotoolkit/openvino-pot-maintainers, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-c-api-maintainers, @openvinotoolkit/openvino-ie-transformations-maintainers, @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-lpt-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers, @openvinotoolkit/openvino-ie-vpu-maintainers, @openvinotoolkit/openvino-ie-gna-maintainers, @openvinotoolkit/openvino_contrib-arm_plugin-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-auto-batch-maintainers, @openvinotoolkit/openvino-hetero-maintainers, @openvinotoolkit/openvino-common-frontend-maintainers, @openvinotoolkit/openvino-ir-frontend-maintainers, @openvinotoolkit/openvino-onnx-frontend-maintainers, @openvinotoolkit/openvino-ie-paddle-maintainers, @openvinotoolkit/openvino-tf-frontend-maintainers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers, @openvinotoolkit/openvino-docs-maintainers, @openvinotoolkit/openvino-ie-template-maintainers, @openvinotoolkit/openvino-configuration-mgmt

add streams count statistics
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

fix code style issue
  src/inference/src/threading/ie_cpu_streams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

fix clang-format issue
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

add core bind with cpu_mapping_table
  src/inference/dev_api/ie_system_conf.h
  src/inference/dev_api/threading/ie_istreams_executor.hpp
  src/inference/src/ie_system_conf.cpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
  src/inference/src/threading/ie_thread_affinity.cpp
  src/inference/src/threading/ie_thread_affinity.hpp
Owners: @openvinotoolkit/openvino-ie-maintainers

add interface getNumOfAvailableCPUCores, add interface for GPU core binding
  src/inference/dev_api/ie_system_conf.h
  src/inference/dev_api/threading/ie_istreams_executor.hpp
  src/inference/src/ie_system_conf.cpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
  src/plugins/intel_cpu/src/plugin.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

modify threads_per_stream to 1
  src/inference/src/threading/ie_istreams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

GPU set cpu_mapping_table used_flag
  src/inference/dev_api/ie_system_conf.h
  src/inference/dev_api/threading/ie_istreams_executor.hpp
  src/inference/src/ie_system_conf.cpp
  src/inference/src/os/lin/lin_system_conf.cpp
  src/inference/src/os/win/win_system_conf.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

fix issue in SetExecutorConfig
  src/inference/src/threading/ie_istreams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

add log
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/inference/src/threading/ie_istreams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

bind cores in different sockets
  src/inference/dev_api/ie_system_conf.h
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/dev/core_impl_ie.cpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/src/ie_system_conf.cpp
  src/inference/src/system_conf.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
  src/plugins/auto/plugin.cpp
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-auto-multi-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

fix build issue on windows
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/thread_affinity.cpp
  src/inference/src/threading/ie_thread_affinity.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

fix cpu bind core issue
  src/inference/dev_api/openvino/runtime/system_conf.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/inference/src/system_conf.cpp
  src/inference/src/threading/ie_cpu_streams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

remove Affinity::HYBRID_AWARE
  src/bindings/python/src/pyopenvino/core/properties/properties.cpp
  src/inference/include/openvino/runtime/properties.hpp
  src/inference/src/dev/threading/istreams_executor.cpp
  src/plugins/intel_cpu/src/exec_network.cpp
  src/plugins/intel_cpu/src/plugin.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_executable_network/properties.cpp
  src/plugins/intel_cpu/tests/functional/shared_tests_instances/behavior/ov_plugin/core_integration.cpp
  src/tests/functional/plugin/shared/src/behavior/ov_plugin/properties_tests.cpp
Owners: @openvinotoolkit/openvino-ie-python-api-maintainers, @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers, @openvinotoolkit/openvino-ie-tests-maintainers, @openvinotoolkit/openvino-ie-test-developers

remove a void thread
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

modify condition of create task_arena
  src/inference/src/dev/threading/cpu_streams_executor.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

add log
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

model_prefer=2
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

modify threads_per_stream=2 on Ecore
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

not bind core with latency mode in icelake and CFL machines
  src/inference/src/dev/threading/cpu_map_scheduling.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

bind core with pcore only in ADL machine
  src/inference/src/dev/threading/cpu_map_scheduling.cpp
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

disable parse_processor_info_linux
  src/inference/src/os/lin/lin_system_conf.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

fix proc_type_table is wrong in RPL
  src/inference/src/os/lin/lin_system_conf.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

update mix stream info for hyper threading
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_e2e_test.cpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix typo
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

update for stream across numa nodes
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
  src/plugins/intel_cpu/src/cpu_streams_calculation.hpp
  src/plugins/intel_cpu/tests/unit/streams_info/streams_info_table_test.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix typo
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix code style issue
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

remove unused variable
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

fix code style issue
  src/plugins/intel_cpu/src/cpu_streams_calculation.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

merge pr18857
  src/inference/dev_api/openvino/runtime/threading/cpu_streams_executor_internal.hpp
  src/inference/src/dev/threading/cpu_streams_executor.cpp
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/tests/unit/cpu_stream_info_test.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

modify max_threads_per_core for throughput
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

add cpu reserve test which plugin reserved cpu before
  src/inference/src/dev/threading/cpu_streams_executor_internal.cpp
  src/inference/tests/unit/cpu_reserve_test.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

work around unlock issue
  src/inference/dev_api/openvino/runtime/threading/cpu_message.hpp
  src/inference/src/dev/threading/cpu_message.cpp
Owners: @openvinotoolkit/openvino-ie-maintainers

add enableNodeSplit in cpu config
  src/plugins/intel_cpu/src/compiled_model.cpp
  src/plugins/intel_cpu/src/config.h
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

rm profiler
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
  src/plugins/intel_cpu/src/utils/profiler.cpp
  src/plugins/intel_cpu/src/utils/profiler.hpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

add fc time log
  src/plugins/intel_cpu/src/config.h
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/node.h
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

time status per op
  src/plugins/intel_cpu/src/graph.cpp
  src/plugins/intel_cpu/src/nodes/fullyconnected.cpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

add parallel pipeline
  src/plugins/intel_gpu/include/intel_gpu/graph/network.hpp
  src/plugins/intel_gpu/src/graph/include/primitive_inst.h
  src/plugins/intel_gpu/src/graph/network.cpp
  src/plugins/intel_gpu/src/graph/primitive_inst.cpp
  src/plugins/intel_gpu/src/plugin/compiled_model.cpp
Owners: @openvinotoolkit/openvino-ie-gpu-maintainers, @openvinotoolkit/openvino-ie-gpu-developers

test of pr25033
  src/core/include/openvino/core/parallel.hpp
  src/plugins/intel_cpu/src/nodes/def_conv.cpp
  src/plugins/intel_cpu/src/nodes/fake_quantize.cpp
Owners: @openvinotoolkit/openvino-ngraph-maintainers, @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

switch partitioner in node through by thread pool
  src/plugins/intel_cpu/src/graph.h
  src/plugins/intel_cpu/src/graph_context.cpp
  src/plugins/intel_cpu/src/graph_context.h
  src/plugins/intel_cpu/src/nodes/executors/executor.hpp
  src/plugins/intel_cpu/src/thread_pool_imp.cpp
  src/plugins/intel_cpu/src/thread_pool_imp.hpp
Owners: @openvinotoolkit/openvino-ie-cpu-maintainers, @openvinotoolkit/openvino-ie-cpu-developers

CODEOWNERS:

# See help here: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*  @openvinotoolkit/openvino-maintainers

CODEOWNERS  @openvinotoolkit/openvino-admins @openvinotoolkit/openvino-maintainers

# CI:
Jenkinsfile  @openvinotoolkit/openvino-admins
/.github/  @openvinotoolkit/openvino-admins
/.ci/  @openvinotoolkit/openvino-admins

# OpenVINO Samples:
/samples/  @openvinotoolkit/openvino-samples-maintainers

# OpenVINO Scripts:
/scripts/  @openvinotoolkit/openvino-scripts-maintainers

# QA Tests:
/tests/  @openvinotoolkit/openvino-tests-maintainers

# Tools:
/tools/  @openvinotoolkit/openvino-tools-maintainers

# Model Optimizer:
/tools/mo/  @openvinotoolkit/openvino-mo-maintainers

# POT:
/tools/pot/  @openvinotoolkit/openvino-pot-maintainers

# OpenVINO Core:
/src/inference/  @openvinotoolkit/openvino-ie-maintainers
/cmake/ @openvinotoolkit/openvino-ie-maintainers
/src/cmake/ @openvinotoolkit/openvino-ie-maintainers
CMakeLists.txt @openvinotoolkit/openvino-ie-maintainers
*cmake @openvinotoolkit/openvino-ie-maintainers
/src/common/cc/ @openvinotoolkit/openvino-ie-maintainers
/src/common/itt/ @openvinotoolkit/openvino-ie-maintainers
/src/common/legacy/ @openvinotoolkit/openvino-ie-maintainers
/src/common/preprocessing/ @openvinotoolkit/openvino-ie-maintainers
/src/common/util/ @openvinotoolkit/openvino-ie-maintainers
/thirdparty/ @openvinotoolkit/openvino-ie-maintainers
/scripts/ @openvinotoolkit/openvino-ie-maintainers

/src/bindings/python/ @openvinotoolkit/openvino-ie-python-api-maintainers
/src/bindings/c/ @openvinotoolkit/openvino-c-api-maintainers
/src/common/*transformations/  @openvinotoolkit/openvino-ie-transformations-maintainers
/src/core/  @openvinotoolkit/openvino-ngraph-maintainers


# OpenVINO CPU:
/src/plugins/intel_cpu/  @openvinotoolkit/openvino-ie-cpu-maintainers @openvinotoolkit/openvino-ie-cpu-developers
/src/common/snippets/ @openvinotoolkit/openvino-ie-cpu-maintainers
/src/tests/**cpu** @openvinotoolkit/openvino-ie-cpu-maintainers

# OpenVINO LPT
/src/common/low_precision_transformations/  @openvinotoolkit/openvino-ie-lpt-maintainers

# OpenVINO GPU:
/src/plugins/intel_gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/tests/**gpu** @openvinotoolkit/openvino-ie-gpu-maintainers
/src/inference/include/ie/gpu/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers
/src/inference/include/ie/cldnn/  @openvinotoolkit/openvino-ie-gpu-maintainers @openvinotoolkit/openvino-ie-gpu-developers

# OpenVINO VPU:
/src/plugins/intel_myriad  @openvinotoolkit/openvino-ie-vpu-maintainers
/src/tests/**myriad** @openvinotoolkit/openvino-ie-vpu-maintainers
/src/inference/include/ie/vpu/ @openvinotoolkit/openvino-ie-vpu-maintainers

# OpenVINO GNA:
/src/plugins/intel_gna/  @openvinotoolkit/openvino-ie-gna-maintainers
/src/tests/**gna**  @openvinotoolkit/openvino-ie-gna-maintainers

# OpenVINO ARM CPU:
/docs/OV_Runtime_UG/supported_plugins/ARM_CPU.md  @openvinotoolkit/openvino_contrib-arm_plugin-maintainers

# OpenVINO Auto (MULTI) plugin:
/src/plugins/auto/  @openvinotoolkit/openvino-ie-auto-multi-maintainers

# OpenVINO Auto (Batch) plugin:
/src/plugins/auto_batch/ @openvinotoolkit/openvino-auto-batch-maintainers

# OpenVINO Hetero plugin:
/src/plugins/hetero/ @openvinotoolkit/openvino-hetero-maintainers


# OpenVINO Frontends:
/src/frontends/common/ @openvinotoolkit/openvino-common-frontend-maintainers
/src/frontends/ir/ @openvinotoolkit/openvino-ir-frontend-maintainers
/src/frontends/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/src/frontends/tests/onnx/ @openvinotoolkit/openvino-onnx-frontend-maintainers
/src/frontends/paddle/  @openvinotoolkit/openvino-ie-paddle-maintainers
/src/frontends/tensorflow/  @openvinotoolkit/openvino-tf-frontend-maintainers

# OpenVINO Tests:
/src/tests/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/tests_deprecated/  @openvinotoolkit/openvino-ie-tests-maintainers @openvinotoolkit/openvino-ie-test-developers
/src/frontends/tests/frontend/shared/ @openvinotoolkit/openvino-ie-tests-maintainers

# Documentation:
/docs/  @openvinotoolkit/openvino-docs-maintainers
*.md  @openvinotoolkit/openvino-docs-maintainers 
README @openvinotoolkit/openvino-docs-maintainers
/src/plugins/template/ @openvinotoolkit/openvino-ie-template-maintainers

# Control 3d party dependencies
**/*requirements*.*  @openvinotoolkit/openvino-configuration-mgmt
**/setup.py  @openvinotoolkit/openvino-configuration-mgmt
/scripts/install_dependencies/  @openvinotoolkit/openvino-configuration-mgmt
